/* App */
html, body, .app__main {
    height: 100vh;
    background-color: #EDEAD5 !important;
}

.main__cols {
    background-color: #026670 !important;
}

/* Side Panel */
.sidePanel__color {
    color: #FEF9C7 !important;
}

.sidePanel__color > * {
    color: #FEF9C7 !important;
}

.sidePanel__menu {
    border: none !important;
}

#sidePanel__button {
    color: #FCE181 !important;
    border: solid #FCE181 2px !important;
}

#sidePanel__button:hover {
    background-color: #FCE181 !important;
    color: #026670 !important;
}


/* Results List */
.top__segment {
    margin-top: 1rem !important;
    background-color: #9FEDD7 !important;
}

.top__segment > h1 {
    color: #026670 !important;
}

.table__segment {
    background-color: #9FEDD7 !important;
}

.table__container {
    overflow: auto;
    height: 80vh;
    width: 100% !important;
}

.table__header {
    margin-top: 1px !important;
}

/* Skeleton */

.skeleton {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.skeleton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    )
}

@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skeleton__avatar {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
    background-color: rgba(58, 57, 57, 0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.skeleton__details {
    background-color: rgba(58, 57, 57, 0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}

/* Meta Panel */
