/* App */
html, body, .app__main {
    height: 100vh;
    background-color: #EDEAD5 !important;
}

.main__cols {
    background-color: #026670 !important;
}

/* Register */
#register__message {
    font-style: italic;
    font-weight: 800;
    color: rgba(19, 22, 228, 0.548);
}

/* Side Panel */
.sidePanel__color {
    color: #FEF9C7 !important;
    font-weight: bold;
}

.sidePanel__color > * {
    color: #FEF9C7 !important;
    font-weight: bold;
}

.sidePanel__menu {
    border: none !important;
}

#sidePanel__button {
    color: #FCE181 !important;
    border: solid #FCE181 2px !important;
}

#sidePanel__button:hover {
    background-color: #FCE181 !important;
    color: #026670 !important;
}

#submit__button {
    color: #026670 !important;
    border: solid 1px #026670 !important;
}

#submit__button:hover {
    background-color: #026670 !important;
    color: #FCE181 !important;
}

.email__form > label {
    color: white !important;
}

.ui.dropdown >  #user__dropdown {
    text-align: center !important;
}

/* Results List */
.top__segment {
    margin-top: 1rem !important;
}

.top__segment > h1 {
    color: #026670 !important;
    padding-top: .5rem !important;
}

.table__segment {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

.table__container {
    overflow: auto;
    height: 80vh;
    width: 100% !important;
}

.table__header {
    margin: 0 !important;
    padding-top: 1rem !important;
    height: 5rem;
    background: rgba(254,249,199,1);
    background: -moz-linear-gradient(top, rgba(254,249,199,1) 0%, rgba(249,250,251,0.44) 69%, rgba(249,250,251,0.19) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,249,199,1)), color-stop(69%, rgba(249,250,251,0.44)), color-stop(100%, rgba(249,250,251,0.0)));
    background: -webkit-linear-gradient(top, rgba(254,249,199,1) 0%, rgba(249,250,251,0.44) 69%, rgba(249,250,251,0.0) 100%);
    background: -o-linear-gradient(top, rgba(254,249,199,1) 0%, rgba(249,250,251,0.44) 69%, rgba(249,250,251,0.0) 100%);
    background: -ms-linear-gradient(top, rgba(254,249,199,1) 0%, rgba(249,250,251,0.44) 69%, rgba(249,250,251,0.0) 100%);
    background: linear-gradient(to bottom, rgba(254,249,199,1) 0%, rgba(249,250,251,0.44) 69%, rgba(249,250,251,0.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9c7', endColorstr='#f9fafb', GradientType=0 );
}

/* Meta Panel */
.left__step {
    font-weight: bold !important;
    background: rgba(159,237,215,1) !important;
    background: -moz-linear-gradient(left, rgba(159,237,215,1) 0%, rgba(254,249,231,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(159,237,215,1)), color-stop(100%, rgba(254,249,231,1))) !important;
    background: -webkit-linear-gradient(left, rgba(159,237,215,1) 0%, rgba(254,249,231,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(159,237,215,1) 0%, rgba(254,249,231,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(159,237,215,1) 0%, rgba(254,249,231,1) 100%) !important;
    background: linear-gradient(to right, rgba(159,237,215,1) 0%, rgba(254,249,231,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fedd7', endColorstr='#fef9e7', GradientType=1 ) !important;
}

.left__step::after {
    background: rgba(254,249,231,1) !important;
}

.right__step {
    font-weight: bold !important;
    background: rgba(254,249,231,0.9) !important;
    background: -moz-linear-gradient(left, rgba(254,249,231,0.9) 0%, rgba(159,237,215,0.9) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,249,231,0.9)), color-stop(100%, rgba(159,237,215,0.9))) !important;
    background: -webkit-linear-gradient(left, rgba(254,249,231,0.9) 0%, rgba(159,237,215,0.9) 100%) !important;
    background: -o-linear-gradient(left, rgba(254,249,231,0.9) 0%, rgba(159,237,215,0.9) 100%) !important;
    background: -ms-linear-gradient(left, rgba(254,249,231,0.9) 0%, rgba(159,237,215,0.9) 100%) !important;
    background: linear-gradient(to right, rgba(254,249,231,0.9) 0%, rgba(159,237,215,0.9) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9e7', endColorstr='#9fedd7', GradientType=1 ) !important;
}

.settings__button {
    width: 10rem !important;
}

/* Skeleton */

.skeleton {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.skeleton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    )
}

@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skeleton__avatar {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
    background-color: rgba(58, 57, 57, 0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.skeleton__details {
    background-color: rgba(58, 57, 57, 0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}

/* Notification */

.notification__message {
    position: fixed !important;
    top: 6%;
    left: -6%;
}

#notification__close:hover {
    cursor: pointer !important;
}