/* App */
html, body, .app__main {
    height: 100vh;
    background-color: #d6d9d7 !important;
    font-family: "Montserrat", sans-serif !important;
    /* overflow: hidden !important; */
}
* {
    outline: 0 !important;
}
#main__font, h1, h2, h3, h4, h5, p, span, button {
    font-family: "Montserrat", sans-serif !important;
}
.ui.segment {
    background-color: #FFF !important;
}
.steps {
    border: none !important;
}
.step {
    border-right: none !important;
    background: none !important;
}
.step:after {
    background: none !important;
}
.grid__main {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /* overflow-x: hidden !important; */
}
.grid__main > section {
    padding: 0 10px;
    transition: all 1s;
}
.first__column {
    padding-bottom: 0 !important;
    text-align: center;
    padding-left: 0 !important;
    width:20%;
    z-index: 998;
}
.first__column > .segment {
    border-radius: 0 !important;
}
.middle__column {
    width: 55%;
}
.last__column {
    width: 25%;
    z-index: 998;

}
.metadata__icon , .query__icon {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #1F2333;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
    z-index: 998;

}
/* @media (min-width: 768px) {
    .middle__column {
        position: relative;
        right: 14px;
        padding-left: 14px !important;
        padding-right: 14px !important;
        padding-bottom: 0 !important;
    }
    .last__column {
        position: relative;
        right: 14px;
        padding-bottom: 0 !important;
    }
} */
#metapanel__accordian div {
    transition: all 1s !important;
}
@media (max-width: 1299px) {
    .first__column {
        width: 30%;
    }
    .middle__column {
        width: 70%;
    }
    .last__column {
        position: absolute;
        width: calc(100vw - 50px);
        right: calc(-100vw + 50px);
        padding-bottom: 10px !important;
        background-color: #1F2333 !important;
    }
    .last__column > #metapanel__accordian {
        /* background-color: #1F2333 !important; */
        /* color: #FFF !important; */
        border-bottom: none;
    }
    .last__column > #metapanel__accordian .title {
        /* color: #FFF !important; */
        font-family: "Montserrat", sans-serif !important;

    }
    .ui.steps .left__step, .ui.steps .right__step {
        /* color: #FFF !important; */
    }
    .last__column.open__column {
        right: 0;
        z-index: 999;
    }
    .metadata__icon {
        display: inline-block;
        left: -45px;
        top: 75px;
    }
    .metadata__icon:active {
        /* width: 60px; */
        left: -55px;
    }
}
@media (max-width: 767px) {
    .first__column {
        position: absolute;
        width: calc(100vw - 50px);
        right: calc(-100vw + 50px);
        padding: 0 !important;
    }
    .query__icon {
        display: inline-block;
        left: -45px;
        top: 15px;
    }
    .query__icon:active {
        left: -55px;
    }
    .first__column.open__column {
        right: 0 !important;
        z-index: 999;
    }
    .middle__column {
        width: 100%;
        padding: 0 !important;
    }
    .last__column {
        /* width: 50%;
        right: -50%; */
    }
}


/* Signup */
.signup__grid form {
    max-width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}
.signup__grid div.ui.message {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}
/* Register */
.register__message {
    font-style: italic;
    font-weight: 800;
    color: #2a2a2a8a;
    margin-bottom: 1rem !important;
}
.anonymous__link {
    color: #026670;
    cursor: pointer;
    font-weight: 600;
}
/* Side Panel */


#main__sidepanel__colors {
    /* background-color: hsl(248, 31%, 19%) !important; */
    background-image: linear-gradient(to right, #1F2333, rgba(31, 35, 51, .95)) !important;
    /* color: #EFFFCD !important; */
    font-style: normal !important;
    border: none !important;
    box-shadow: none !important;
}
#main__sidepanel__colors > * {
    color: #FFF !important;
}

/* User Panel */
.main__icon {
    height: 100px;
}

/* current queries active item */
.query__item {
    position: relative;
}
.query__item__overlay {
    left: -200% !important;
    transition: left .3s;
}
.active__item > .query__item__overlay {
    transition: left .3s;
    content: " " !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 105% !important;
    background-color: rgba(255, 255, 255, 0.151) !important;
}
.item.main__sidepanel__colors > span {
    color: #FFF;
    font-size: 1.5rem;
}
.sidePanel__menu {
    border: none !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.1rem !important;
}
#results__count {
    font-family: 'Open Sans', sans-serif !important;
}
.button__3d:active {
    top: 4px !important;
    margin-bottom: 4px !important;
    border-bottom: none !important;
}
#sidePanel__button {
    position: relative;
    background-color: #BB8E87 !important;
    border-bottom: solid rgb(112, 70, 69) 4px;
    color: #1F2333 !important;
}
#login__button {
    position: relative;
    background-color: #AA8E39 !important;
    border-bottom: solid rgb(131, 111, 51) 4px;
    color: whitesmoke !important;
}
#submit__button {
    position: relative;
    background-color: #026670 !important;
    color: #FCE181 !important;
    border-bottom: solid 4px #01535a;
}
#register__button {
    position: relative;
    background-color: #026670 !important;
    color: #FCE181 !important;
    border-bottom: solid 4px #01535a;
}



.email__form > label {
    color: white !important;
}

.ui.dropdown >  #user__dropdown {
    text-align: center !important;
    font-style: bold !important;
    color: #BB8E87 !important;
}
.new__account__puzzle {
    /* width: 20%;
    height: 100%; */
    max-height: 250px;
}
/* Results List */
.top__segment {
    margin-top: 1rem !important;
}

.top__segment > h1 {
    color: #99173C !important;
    padding-top: .5rem !important;
}

.table__segment {
    padding: 0 !important;
}

.results__container {
    margin-top: 1rem !important;
    overflow: auto;
    max-height: 80vh;
    width: 100% !important;
    font-family: 'Open Sans', sans-serif;
}
.results__container > h1 {
    color: #1F2333 !important;
    /* background: #7397AE; */
    margin-bottom: 0 !important;
    padding: 1rem 0 !important;
}
.results__table > tbody > tr > td, .results__table > thead > tr > th {
    color: #1F2333 !important;

}
.results__row > td {
    color: #1F2333 !important;
}
.table__header {
    margin: 0 !important;
    padding-top: 1rem !important;
    height: 5rem;
}
.seemore__container {
    position: relative;
}
.seemore__icon {
    position: absolute;
    right: 0;
    top: calc(50% - 14px);
    background: #FFF !important;
    color: rgb(136, 136, 136) !important;
    border-radius: 50%;
    cursor: pointer;
}
.vehicle__details {
    display: flex;

}
.vehicle__details__primary {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.vehicle__details__secondary {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
#no__results__message {
    background: rgba(255, 0, 0, 0.342);
    box-shadow: none !important;
}
.oops__container {
    text-align: center;
}
.oops__container > img {
    max-width: 500px !important;
}
@media (max-width: 767px) {
    .ui.segment {
        border: none !important;
    }
    .results__container {
        width: 100% !important;
        height: 100vh !important;
        max-height: 100vh !important;
        margin: 0 !important;
    }
    .results__container > h1 {
        height: 10vh;
        min-height: 70px;
        border-radius: 0 !important; 
        background: #1F2333;
        color: #FFF !important;
    }
    /* .ui.table:not(.unstackable) {
        width: 80% !important;
    } */
}
/* .mobile__results__container {
    height: 100vh;
    padding-top: 3% !important;
    padding-bottom: 5% !important;
    overflow-x: scroll !important;
    overflow-y: hidden;
    white-space: nowrap;
    background: #fafafa;
} */
.mobile__results__container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
.mobile__results__container > div {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif !important;
    border-top: solid #7a7a7a12 1px;
    border-bottom: solid #7a7a7a12 1px;
}
.mobile__results__primary {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile__results__primary small {
    font-size: 90%;
    font-weight: 600;
}
.mobile__results__secondary {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    font-size: .9rem;
}
.stock__badge {
    height: 100%;
    width: 80%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #99173C;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    color: #FFF;
    box-shadow: 3px 3px 10px grey;
}
.stock__badge ~ i {
    font-size: 1.5rem !important;
    transition: transform .3s ease-out;
}
.mobile__results__secondary:active .stock__badge {
    background-color: rgb(109, 22, 47);
}
.mobile__results__secondary:active i {
    transform: translateX(5px);
}
.grid__main {
    overflow-y: hidden;
}
.mobile__result__details {
    position: fixed;
    height: 100%;
    width: 100vw;
    background: #FAFAFA;
    left: 100vw;
    top: 0;
    transition: left .4s ease-out;
}
.mobile__result__details.active__detail {
    left: 0;
}
/* .mobile__results__container.active__detail {
    max-height: 100vh !important;
} */
.details__header {
    height: 10vh;
    min-height: 56px;
    background: #1F2333;
    color: #FFF !important;
    display: flex;
    align-items: center;
}
.details__header > div {
    width: 10% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details__header i {
    font-size: 2.5rem !important;
    margin-top: 1.5rem !important;
}
.details__header > h3 {
    width: 40%;
    margin-left: 20%;
    text-align: center;
}
.mobile__result__details h3 {
    margin-top: .5rem;
}
.details__body {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.details__body__header {
    border: solid #7a7a7a42 1px;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 3px 3px 10px grey;
}
.details__body__data {
    display: flex;
    flex-direction: column;
}
.details__body__header, .details__body__data > div {
    margin-bottom: 1rem;
    
}
.details__body__data > div > p {
    padding: 5px 14px;
    font-weight: 500;
    border-bottom: solid #7a7a7a42 1px;
}
.details__body__data > div > p > span {
    float: right;
    padding-right: 1rem;
    font-family: "Open Sans", sans-serif !important;
}
@media (max-height: 475px) {
    .mobile__result__details.active__detail {
        position: absolute;
        height: 120vh;
        overflow-y: scroll;
    }
    .mobile__results__container.active__detail {
        display: none;
    }
    .grid__main {
        overflow-y: hidden;
    }
}
/* @media (max-height: 475px) {
    .details__body {
        max-width: 100%;
    }
    .details__body__header {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .details__body__data {
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
    }
} */
/* @media (max-height: 575px) and (max-width: 574px) and (orientation: landscape) {
    .details__body {
        font-size: .9rem !important;
        padding: .5rem;
    }
    .details__body p {
        margin-bottom: .5rem;
    }
} */
.results__card {
    border: solid black 2px;
    /* width: 45% !important; */
    /* height: 200px !important; */
    margin: 2% 2.5% !important;
    display: inline-block !important;
}
.results__card .content .header {
    font-family: "Montserrat", sans-serif !important;
}
.results__card .content p:nth-child(-n + 2) {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
}
.results__card .content p {
    font-family: 'Open Sans', sans-serif !important;

}
.mobile__links__container {
    padding: 0 !important;
    /* background-color: #026670 !important; */
}
.mobile__links__container > a:first-child {
    float: left;
    /* color: #FFF !important; */
    padding: 1rem;
    
    /* background-color: #026670; */
    border-radius: 0 0 0 .28571429rem !important;
}
.mobile__links__container > a:last-child {
    float: right;
    /* color: #FFF !important; */
    padding: 1rem;
    border-radius:  0 0 .28571429rem 0 !important;
}
@media (max-width: 505px) {
    .results__card {
        width: 90% !important;
        margin: 2% 5% !important;
    }
}

/* Meta Panel */
#metapanel__accordian {
    background: #fafafa !important;
    border-bottom: solid #4a4a4a 2px;
    margin-top: 1rem;
}
.left__step {
    font-weight: 700;
    color: #1F2333 !important;
    font-family: "Montserrat", sans-serif;
}
.right__step {
    font-weight: 500;
    color: #1F2333 !important;
    font-family: "Montserrat", sans-serif;
}
.settings__button {
    width: 9rem !important;
    font-size: .8rem !important;
}
.settings__button:active {
    margin-bottom: 4px !important;
}
.question__icon {
    cursor: pointer;
    position: relative;
    float: right;
    opacity: .6 !important;
    margin-right: 45% !important;
}
.confirm__modal .actions .ui.primary.button {
    background-color: red !important;
}
/* Create */
.max__queries__span {
    display: block;
    text-align: left;
    color: red;
    width: 140px;
    margin: 10px auto !important;
}
#create__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    border-bottom: none !important;
}
.create__progress {
    content: " ";
    position: absolute;
    height: 2px;
    width: 33.33%;
    bottom: 0;
    background-color: blue;
    transition: all .75s cubic-bezier(.65, 0, .35, 1);
}
#create__header div {
    height: 100%;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    border: 1px solid rgba(34,36,38,.15);
    transition: all .5s;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;

    /* border-right: solid rgba(128, 128, 128, 0.4) .5px; */
}
#create__header div:hover {
    background-color:rgba(34,36,38,.15) !important;
}
.step__container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.step__container > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    display: flex;
	transition: transform 1s;
	transform: translate(100%, 0);
	will-change: transform, opacity;
}
.step__container > div:not(.activeSlide) {
    display: none;
}
.step__container > div section {
    width: 50%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}
.step__container > div section:first-child {
    justify-content: space-between;
    position: relative;
}
.step__container > div section:last-child {
    padding: 1% 2%;
}
.form__section .field {
    margin: 0 0 .25rem 0 !important;
    display: inline-block !important;
}
 .form__section .input, .form__section div[name="model"] {
    width: 200px !important;
}
/*
.form__section .input:after, .form__section div[name="model"]:after {
    content: attr(data-error);
    position: absolute;
    right: -100%;
    font-size: .9rem;
    color: red;
}
@media (max-width: 650px) {
    .form__section .input, .form__section div[name="model"] {
        margin-bottom: 2rem !important;
    }   

} */
.field__info {
    position: relative;
    padding-left: 2rem !important;
    transition: all .8s;
    opacity: 0;
}
.field__info.active {
    opacity: 1;
}
.field__info ol {
    list-style: circle !important;
    padding-left: 2rem !important;
}
@media (max-width: 575px) {
    .field__info {
        /* display: none !important; */
        opacity: 1 !important;
        width: 100% !important;
        position: absolute;
        height: 100% !important;
        background: #fff;
        top: -100%;
        z-index: 998;
    }
    .step__container section:first-child {
        width: 100%;
    }
    .field__info.active {
        top: 0 !important;
    }
}
.dropdown__label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}
.valid, .not__valid {
    font-size: .8rem;
    margin: 0 0 .4rem 0 !important;
    visibility: hidden !important;
}
.not__valid {
    color: red;
    visibility: visible !important;
}
.section__help {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
}
.help__message li {
    margin: .5rem 0;
}
/* .field__info:before {
    content: " ";
    position: absolute;
    height: calc(100% + 42px);
    width: 4px;
    left: 0;
    top: -21px;
    background-color: #0267703d;
} 
.field__info li:first-child {
    margin: 0 0 5px 0 !important;
}
.field__info ol {
    margin-top: 0;
}
.field__info li {
    margin: 10px 0;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif !important;

} 
.field__info i {
    font-size: .95em !important;
} */
/* .not__valid {
    color: rgba(204, 65, 44, 0.541) !important;
}
.is__valid {
    color: #2ccc40 !important;
} */
.nav__section {
    display: flex;
}
.options__container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.options__container .field {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.options__container .field .ui.radio.checkbox {
    position: relative;
    width: 200px !important;
    /* background-color: #FAFAFA; */
}
.options__container .field .ui.radio.checked.checkbox:after {
    width: 110% !important;
}
.options__container .field .ui.radio.checkbox:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -10%;
    height: 200%;
    width: 0;
    background-color: #026670;
    transition: width .5s;
}
.options__container .field .ui.radio.checkbox:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -10%;
    height: 200%;
    width: 120%;
    background-color: #77bac0c9;
    z-index: 1;
}
.options__container .field .ui.checked.radio.checkbox label {
    color: #FFF !important;
    
}
.options__container .field .ui.radio.checkbox label {
    font-family: 'Open Sans', sans-serif !important;
    z-index: 2 !important;
}
.options__container .field .ui.radio.checkbox label:after {
    right: 5% !important;
    left: none !important;
}
.options__container .field .ui.radio.checkbox label:before {
    right: 5% !important;
    left: none !important;
}

.secondary__button {
    position: relative;
    margin-top: auto;
    background-color: #7B778A !important;
    color: #1F2333 !important;
    border-bottom: solid 4px rgb(103, 100, 116) !important;
}
.secondary__button:active {
    top: 4px;
    border-bottom: none !important;
}
.step__container .primary {
    transform: translate(0, 0);
}
.step__container .forwardsIn {
    transform: translate(100%, 0);
	animation: slideInForwards .75s cubic-bezier(.65, 0, .35, 1) 0s forwards;
}
.step__container .backIn {
    transform: translate(-100%, 0);
	animation: slideInBack .75s cubic-bezier(.65, 0, .35, 1) 0s forwards;
}
.step__container .forwardsOut {
    transform: translate(0, 0);
	animation: slideOutForwards .75s cubic-bezier(.65, 0, .35, 1) 0s forwards;
}
.step__container .backOut {
    transform: translate(0, 0);
	animation: slideOutBack .75s cubic-bezier(.65, 0, .35, 1) 0s forwards;
}
@media (max-width: 680px) {
    .checkbox__container {
        /* justify-content: space-between !important; */
    }
    .checkbox__container > div {
        height: 100px !important;
        width: 100px !important;
    }
    .checkbox__container > div > i {
        font-size: 2em !important;
    }
    .checkbox__container > div > span {
        font-size: .9em;
    }
}
@media (max-width: 575px) {
    .checkbox__container > div > i {
        font-size: 1.8em !important;
    }
    .checkbox__container > div > span {
        font-size: .8em;
    }                        
}
.checkbox__disabled {
    opacity: .5;
}
.checkbox__container > div > i {
    font-size: 3em;
    cursor: pointer;
}

.review__list {
    list-style: none;
    padding-left: 20px;
    font-size: 1.2rem;
    color: #2a2a2a;
}
.review__list__header {
    font-weight: 600;
}
.review__list > li {
    list-style: none;
    padding: 4px;
}
.review__list li ol {
    list-style: none;
    padding-left: 10px;
    margin-left: 15px;
    border-left: 1px solid #4d4d4c;
    font-family: "Open Sans", sans-serif;
}
.submit__section {
    height: 30%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .submit__section h3 {
        display: none;
    }
    .submit__section button {
        margin-top: auto !important;
    }
}
@keyframes slideInForwards {
    0% {
        transform: translate(100%, 0);
	}
	100% {
        transform: translate(0, 0);
	}
}
@keyframes slideInBack {
    0% {
        transform: translate(-100%, 0);
	}
	100% {
        transform: translate(0, 0);
	}
}
@keyframes slideOutForwards {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
@keyframes slideOutBack {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(100%, 0);
	}
}

/* Skeleton */

.skeleton {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.skeleton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    )
}

@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skeleton1 {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58, 57, 57, 0.3);
}

.skeleton2 {
    background-color: rgba(58, 57, 57, 0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.skeleton3 {
    background-color: rgba(58, 57, 57, 0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}

/* Notification */

.notification__message {
    position: fixed !important;
    top: 6%;
    left: -6%;
}

#notification__close:hover {
    cursor: pointer !important;
}


