/* App */
html, body, .app__main {
    height: 100vh;
    background-color: #DCE9BE !important;
    font-family: 'Asap', sans-serif !important;
}

#main__font, h1, h2, h3, h4, h5, p, span, button {
    font-family: 'Asap', sans-serif !important;
}
.ui.segment {
    background-color: #fafafa !important;
}
.steps {
    border: none !important;
}
.step {
    border-right: none !important;
    background: none !important;
}
.step:after {
    background: none !important;
}
.first__column {
    padding-bottom: 0 !important;
}
.first__column > .segment {
    border-radius: 0 !important;
}
@media (min-width: 768px) {
    .middle__column {
        position: relative;
        right: 14px;
        padding-left: 14px !important;
        padding-right: 14px !important;
        padding-bottom: 0 !important;
    }
    .last__column {
        position: relative;
        right: 14px;
        padding-bottom: 0 !important;
    }
}



/* START ----------------------------------------------- */

/* Register */
#register__message {
    font-style: italic;
    font-weight: 800;
    color: #2a2a2a8a;
}
.anonymous__link {
    color: #026670;
    cursor: pointer;
    font-weight: 600;
}
/* Side Panel */


#main__sidepanel__colors {
    background-color: #2E2633 !important;
    color: #EFFFCD !important;
    font-style: bold !important;
    border: none !important;
    box-shadow: none !important;
}
#main__sidepanel__colors > * {
    color: #FFC2AA !important;
    font-weight: bold !important;
}

#current__queries__items {
    color: #FFC2AA !important;
}

/* current queries active item */
.ui.secondary.pointing.menu .active.item {
    border-color: #AA8E39 !important;
    color: #AA8E39 !important;
}
/* current queries unactive item */
.ui.secondary.menu .link.item, .ui.secondary.menu a.item {
    color: #FFC2AA !important;
}
.item.main__sidepanel__colors > span {
    color: #DCE9BE;
}
.sidePanel__menu {
    border: none !important;
    font-family: 'Inconsolata', monospace !important;
    font-size: 1.2rem !important;
}
#results__count {
    font-family: 'Inconsolata', monospace !important;
}
.button__3d:active {
    top: 4px !important;
    margin-bottom: 4px !important;
    border-bottom: none !important;
}
#sidePanel__button {
    position: relative;
    background-color: #AA8E39 !important;
    border-bottom: solid rgb(131, 111, 51) 4px;
    color: whitesmoke !important;
}
#login__button {
    position: relative;
    background-color: #AA8E39 !important;
    border-bottom: solid rgb(131, 111, 51) 4px;
    color: whitesmoke !important;
}
#submit__button {
    position: relative;
    background-color: #026670 !important;
    color: #FCE181 !important;
    border-bottom: solid 4px #01535a;
}
#register__button {
    position: relative;
    background-color: #026670 !important;
    color: #FCE181 !important;
    border-bottom: solid 4px #01535a;
}

#notes__field {
    margin-bottom: 1rem !important;
}




.email__form > label {
    color: white !important;
}

.ui.dropdown >  #user__dropdown {
    text-align: center !important;
    font-style: bold !important;
    color: #FFC2AA !important;
}

/* Results List */
.top__segment {
    margin-top: 1rem !important;
}

.top__segment > h1 {
    color: #99173C !important;
    padding-top: .5rem !important;
}

.table__segment {
    padding: 0 !important;
}

.table__container {
    margin-top: 1rem !important;
    overflow: auto;
    max-height: 80vh;
    width: 100% !important;
    font-family: 'Montserrat', sans-serif;
}
.table__container > h1 {
    color: #99173C !important;
    padding-top: .5rem !important;
}
.table__header {
    margin: 0 !important;
    padding-top: 1rem !important;
    height: 5rem;
}

#no__results__message {
    background: rgba(255, 0, 0, 0.342);
    box-shadow: none !important;
}

/* Meta Panel */
#metapanel__accordian {
    background: #fafafa !important;
    border-bottom: solid #4a4a4a 2px;
    margin-top: 1rem;
}
.left__step {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.right__step {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.settings__button {
    width: 10rem !important;
}
/* Skeleton */

.skeleton {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.skeleton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    )
}

@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skeleton__avatar {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
    background-color: rgba(58, 57, 57, 0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.skeleton__details {
    background-color: rgba(58, 57, 57, 0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}

/* Notification */

.notification__message {
    position: fixed !important;
    top: 6%;
    left: -6%;
}

#notification__close:hover {
    cursor: pointer !important;
}
